.container {
    background-color: var(--secondary-orange-40);
    border: 2px solid var(--main-800);
    transition: scale 500ms ease-in-out;
}

.container:hover {
    background-color: var(--secondary-yellow-40);
    border-color: var(--secondary-orange);
}

.container:active {
    background-color: var(--secondary-blue-80);
    border-color: var(--secondary-orange);
    scale: 0.8;
}

.container span:hover {
    color: var(--secondary-orange);
}

.sm {
    border-radius: 4px;
    padding: 0.5vh 0.5vw;
    margin-bottom: 0.5vh;
}

.md {
    border-radius: 8px;
    padding: 0.5vh 1vw;
    margin-bottom: 1vh;
}

.lg {
    border-radius: 8px;
    padding: 1vh 1vw;
    margin-bottom: 1vh;
}

.xl {
    border-radius: 16px;
    margin-bottom: 2vh;
    padding: 1vh 2vw;
}
