.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    text-align: center;
}

.container input {
    min-width: 64px;
    padding: 0.5vh 0.5vw;
    border: 2px solid var(--main-800);
    background-color: var(--secondary-orange-40);
}

.container input:focus {
    background-color: var(--secondary-yellow-40);
    border-color: var(--secondary-yellow);
}

.sm {
    margin-bottom: 0.5vh;
}

.md {
    margin-bottom: 1vh;
}

.lg {
    margin-bottom: 1vh;
}

.xl {
    margin-bottom: 2vh;
}

.sm input {
    font-size: var(--baseFont);
}

.md input {
    font-size: var(--h4);
}

.lg input {
    font-size: var(--h2);
}

.xl input {
    font-size: var(--h1);
}

@media (max-width: 512px) {
    .container {
        text-align: left;
        grid-template-columns: 1fr;
    }
}
