.container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    text-align: center;
}

.container input {
    min-width: 64px;
    padding: 4px;
    border: 2px solid var(--main-800);
    background-color: var(--secondary-orange-40);
}

.container input:focus {
    background-color: var(--secondary-yellow-40);
    border-color: var(--secondary-yellow);
}

.sm {
    margin-bottom: 4px;
}

.md {
    margin-bottom: 8px;
}

.lg {
    margin-bottom: 16px;
}

.sm input {
    font-size: var(--baseFont);
}

.md input {
    font-size: var(--h2);
}

.lg input {
    font-size: var(--h1);
}

@media (max-width: 425px) {
    .container {
        text-align: left;
        grid-template-columns: 1fr;
    }
}
